---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home">
  <main class="absolute z-40 frame p-6">
    <section class="absolute left-1/2 top-1/2 mr-12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
    </section>
  </main>
</Layout>

<style>
  @tailwind components;

  @layer components {
    .frame_line {
      @apply absolute bg-mint;
    }
    .mask {
      @apply fixed left-0 w-full h-4 sm:h-6 md:h-8 lg:h-10 xl:h-12 2xl:h-14 bg-primary/5 backdrop-blur-[2px] z-50;
    }
  }
</style>
