---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Projets">
  <section>
    <!-- <h1>Projets</h1> -->
    <h1 class="text-center font-extralight">
      🚧<br /><span class="italic whitespace-nowrap animate-pulse"
        >Page en construction</span
      >
    </h1>
  </section>
</Layout>
