---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="About">
  <section class="relative w-full top-1/3">
    <h1>About</h1>
    <p>
      Hi, my name is Florian Ohrel and I'm a developer based in Paris / Lille,
      France.
    </p>
    <p>
      In 2021, after having dabbled in various fields, I made the decision to
      attend <a href="https://42.fr/en/homepage/"><u>42 school</u></a>. Thus, I
      found myself falling headfirst into the rabbit hole of coding.
    </p>
    <p>
      Apart from that, I play video games 🎮, listen to a lot of music 🎵, get
      around by cycling 🚴, and climb in my spare time 🧗.
    </p>
  </section>
</Layout>
