---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="About">
  <section>
    <h1>About</h1>
    <p>
      In 2021, after having dabbled in various fields and taken the time to
      understand who I was and what I truly desired, I decided to embark on a
      career change. However, I had underestimated the extent of the enthusiasm
      that the entrance exam (also known as the <q>piscine</q>) of <a
        href="https://42.fr/en/homepage/"><u>42 school</u></a
      > would ignite within me. Thus, I found myself falling headfirst into the rabbit
      hole. Constantly learning to solve new and increasingly complex problems, supported
      by individuals from diverse backgrounds but all passionate about coding, made
      me realize that I had finally found my path.
    </p>
    <p>
      Apart from that, I play video games 🎮, listen to a lot of music 🎵, get
      around by cycling 🚴, and climb in my spare time 🧗."
    </p>
  </section>
</Layout>
