---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home">
  <main class="absolute z-20 frame p-6">
    <section class="absolute left-1/2 top-1/2 mr-12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
        minima illo nostrum temporibus dolorum magni sequi, eius fugit eum
        cumque est unde, dicta sapiente autem quis provident, corrupti
        voluptatum.
      </p>
    </section>
  </main>
</Layout>
