---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home">
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic
      minima illo nostrum temporibus dolorum magni sequi, eius fugit eum cumque
      est unde, dicta sapiente autem quis provident, corrupti voluptatum.
    </p>
  </section>
</Layout>
