---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home">
  <section>
    <h2>Hi 👋 Welcome</h2>
    <p>
      My name is Florian Ohrel, I'm a software developer based in Paris, France.
    </p>
  </section>
</Layout>

<style></style>
