---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Projects">
  <section>
    <!-- <h1>Projects</h1> -->
    <h1 class="text-center font-extralight">
      🚧<br /><span class="italic whitespace-nowrap animate-pulse"
        >Work in progress</span
      >
    </h1>
  </section>
</Layout>
