---
import Navigation from '@/components/Header/Navigation.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  id="header"
  class="fixed col-start-1 col-span-12 h-20 md:h-32 w-full z-50 flex backdrop-blur-[4px] group-[.sidebar--toggle]/content:backdrop-blur-none group-[.sidebar--toggle]/content:pointer-events-none px-6 py-8 md:px-12 md:py-6 xl:px-16 xl:py-8 flex-row items-center justify-end md:justify-between grow overflow-hidden group-[.sidebar--toggle]/content:[transition:backdrop-filter_100ms_ease-in-out] [transition:backdrop-filter_100ms_ease-in-out_500ms]"
>
  <div
    id="info__container"
    class="flex flex-col items-left justify-center max-md:hidden"
  >
    <div
      id="info__name"
      class="font-sans font-medium text-lg md:text-xl xl:text-2xl leading-4 whitespace-nowrap"
    >
      Florian Ohrel
    </div>
    <div
      id="info__job-title"
      class="font-slab font-normal text-base md:text-lg xl:text-xl leading-4 whitespace-nowrap"
    >
      {t('jobTitle')}
    </div>
  </div>
  <Navigation />
</header>
