---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { useTranslatedFragment } from '../../i18n/utils';
import Social from '@/components/Social.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translateFragment = useTranslatedFragment(lang);
---

<div
  id="sidebar"
  class="fixed col-start-1 col-span-full w-full h-dvh bg-overlay2 backdrop-blur z-40 group-[.sidebar--toggle]/content:translate-x-0 translate-x-full transition-transform duration-300 ease-in-out flex flex-col md:invisible gap-8 font-bold text-xl md:text-2xl xl:text-3xl my-auto self-stretch items-center justify-center"
>
  <div
    id="info__container"
    class="fixed px-6 py-8 top-0 left-0 flex flex-col items-left justify-center md:hidden text-frame"
  >
    <div
      id="info__name"
      class="font-sans font-extrabold text-2xl leading-6 whitespace-nowrap"
    >
      Florian Ohrel
    </div>
    <div
      id="info__job-title"
      class="font-slab font-bold text-lg leading-6 whitespace-nowrap"
    >
      {t('jobTitle')}
    </div>
  </div>
  <Social className="fixed right-0 bottom-0 flex flex-col gap-4" />
  <ul id="nav-list" class="group/list nav__list">
    <li id="nav-home" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#home')}
        data-astro-prefetch
      >
        {t('nav.home')}
      </a>
    </li>
    <li id="nav-about" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#about')}
        data-astro-prefetch
      >
        {t('nav.about')}
      </a>
    </li>
    <li id="nav-projects" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#projects')}
        data-astro-prefetch
      >
        {t('nav.projects')}
      </a>
    </li>
  </ul>
  <a
    id="resume"
    class="w-fit hover:text-frame cursor-pointer rounded-sm py-3 px-4 leading-5 border-2 border-frame hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[3px_3px_0_0] shadow-frame transition-all duration-300 ease-in-out"
    href="/resume.pdf"
    target="_blank"
    data-astro-reload>Resume</a
  >
</div>

<style>
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .nav__list {
      @apply flex flex-col gap-6 items-center justify-center;
    }

    .nav__item {
      @apply flex [direction:rtl];
      &:hover {
        @apply [direction:ltr];
      }
    }

    .item__link {
      @apply block h-full text-center whitespace-nowrap group-[.item--selected]:font-bold group-[.item--selected]:pointer-events-none;
    }
  }

  @layer utilities {
    .item--selected {
      @apply [direction:ltr] group-hover/list:[direction:rtl] hover:![direction:ltr];
      & .item__bar {
        @apply w-full;
      }
    }
  }
</style>

<script>
  const sections = document.querySelectorAll('section');
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        const navEntry = document.querySelector(`#nav-${entry.target.id}`);
        if (entry.isIntersecting) {
          navEntry?.classList.add('item--selected');
        } else {
          navEntry?.classList.remove('item--selected');
        }
      });
    },
    { root: null, rootMargin: '0px', threshold: 0.5 }
  );
  for (let i = 0; i < sections.length; i++) {
    const elements = sections[i];

    observer.observe(elements);
  }
</script>
