---
import Navigation from '@/components/Navigation.astro';
import Social from '@/components/Social.astro';
---

<header
  class="fixed p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14 ml-4 sm:ml-6 md:ml-8 lg:ml-10 xl:ml-12 2xl:ml-14 my-4 sm:my-6 md:my-8 lg:my-10 xl:my-12 2xl:my-14 flex flex-col inset-0 items-left justify-between z-50"
>
  <div id="info">
    <h1>Florian Ohrel</h1>
    <h2>Full-stack developer</h2>
  </div>
  <Navigation />
  <Social />
</header>
