---
import { languages } from '@/i18n/ui';
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

const currLang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const t = useTranslations(currLang);
const translatePath = useTranslatedPath(currLang);
---

<div class="fixed flex gap-2 z-50 -right-3 top-6 rotate-90 origin-bottom">
  {
    Object.entries(languages).map(([lang]) => (
      <>
        <a
          class={currLang === lang ? 'checked' : 'unchecked'}
          href={translatePath(`/${route ? route : ''}`, lang)}
        >
          {lang.toUpperCase()}
        </a>
      </>
    ))
  }
</div>

<style>
  @tailwind components;

  @layer components {
    .checked {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      @apply before:content-['■'] text-xs md:text-sm lg:text-base xl:text-lg;
    }
    .unchecked {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      @apply before:content-['□'] text-xs md:text-sm lg:text-base xl:text-lg;
    }
  }
</style>
