---
import { languages } from '@/i18n/ui';
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

const currLang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const t = useTranslations(currLang);
const translatePath = useTranslatedPath(currLang);
---

<div
  class="fixed flex gap-2 z-50 -left-3 bottom-12 md:-left-2 md:bottom-14 xl:bottom-16 xl:-left-2 -rotate-90 origin-bottom"
>
  {
    Object.entries(languages).map(([lang]) => (
      <>
        <a
          class={currLang === lang ? 'checked' : 'unchecked'}
          href={translatePath(`/${route ? route : ''}`, lang)}
        >
          {lang.toUpperCase()}
        </a>
      </>
    ))
  }
</div>

<style>
  @tailwind components;

  @layer components {
    .checked {
      font-family:
        Inter,
        Noto Sans,
        Verdana,
        Geneva,
        Tahoma,
        sans-serif;
      @apply before:content-['■'] text-sm md:text-base xl:text-lg;
    }
    .unchecked {
      font-family:
        Inter,
        Noto Sans,
        Verdana,
        Geneva,
        Tahoma,
        sans-serif;
      @apply before:content-['□'] text-sm md:text-base xl:text-lg;
    }
  }
</style>
