---
import { languages } from '@/i18n/ui';
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
} from '@/i18n/utils';

const currLang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(currLang);

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class="fixed flex gap-2 z-50 -left-2 bottom-11 md:-left-1 md:bottom-14 xl:bottom-16 xl:left-1 -rotate-90 origin-bottom"
>
  {
    Object.entries(languages).map(([lang]) => (
      <>
        <a
          class={
            (currLang === lang
              ? 'before:content-["■"]'
              : 'before:content-["□"]') +
            ' text-sm md:text-base xl:text-lg font-other' +
            (className || '')
          }
          href={translatePath(`/${route || ''}`, lang)}
          aria-label="Change language"
          data-astro-reload
        >
          {lang.toUpperCase()}
        </a>
      </>
    ))
  }
</div>
