---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { useTranslatedFragment } from '../i18n/utils';
import Social from '@/components/Social.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translateFragment = useTranslatedFragment(lang);
---

<div
  id="menu"
  class="fixed col-start-1 col-span-full w-full h-screen bg-overlay2 backdrop-blur z-40 group-[.menu--toggle]/content:translate-x-0 translate-x-full transition-transform duration-300 ease-in-out flex flex-col md:invisible gap-16 font-bold text-xl md:text-2xl xl:text-3xl my-auto self-stretch items-center justify-center"
>
  <Social className="fixed right-0 bottom-0 flex flex-row gap-4 text-frame" />
  <ul id="nav-list" class="group/list nav__list">
    <li id="nav-home" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#home')}
        aria-label={'Go to ' + t('nav.home') + ' section'}
        data-astro-prefetch
      >
        {t('nav.home')}
      </a>
    </li>
    <li id="nav-about" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#about')}
        aria-label={'Go to ' + t('nav.about') + ' section'}
        data-astro-prefetch
      >
        {t('nav.about')}
      </a>
    </li>
    <li id="nav-projects" class="group nav__item">
      <a
        class="item__link"
        href={translateFragment('#projects')}
        aria-label={'Go to ' + t('nav.projects') + ' section'}
        data-astro-prefetch
      >
        {t('nav.projects')}
      </a>
    </li>
  </ul>
  <a
    class="fixed bottom-1/4 w-fit hover:!text-frame cursor-pointer rounded-sm py-3 px-4 leading-5 border-2 border-frame hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[3px_3px_0_0] transition-all duration-300 ease-in-out"
    href="/resume.pdf"
    target="_blank"
    data-astro-prefetch
    data-astro-reload>{t('resume')}</a
  >
</div>

<style>
  @tailwind components;
  @tailwind utilities;

  @layer components {
    #menu a,
    #menu button {
      @apply text-frame hover:text-selection;
    }

    .nav__list {
      @apply flex flex-col gap-6 items-center justify-center;
    }

    .nav__item {
      @apply flex [direction:rtl];
      &:hover {
        @apply [direction:ltr];
      }
    }

    .item__link {
      @apply h-full block text-center whitespace-nowrap group-[.item--selected]:font-bold group-[.item--selected]:pointer-events-none;
    }
  }

  @layer utilities {
    .item--selected {
      @apply [direction:ltr] group-hover/list:[direction:rtl] hover:![direction:ltr];
      & .item__bar {
        @apply w-full;
      }
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const content = document.querySelector('#content');
    const menuToggleBtn = document.getElementById('menu-toggle-btn');
    const navLinks = document.querySelectorAll('#menu .item__link');
    const svgAnimation: (HTMLElement & SVGAnimationElement) | null =
      document.getElementById('reverseAnimation') as HTMLElement &
        SVGAnimationElement;

    navLinks?.forEach((link) => {
      link.addEventListener('click', () => {
        content?.classList.remove('menu--toggle');
        svgAnimation?.beginElement();
      });
    });
    menuToggleBtn?.addEventListener('click', () => {
      content?.classList.toggle('menu--toggle');
    });

    window.addEventListener('resize', () => {
      if (window.matchMedia('(min-width: 768px)').matches) {
        content?.classList.remove('menu--toggle');
        svgAnimation?.beginElement();
      }
    });
  });
</script>
