---
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class="p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14 self-stretch">
  <ul id="nav-list">
    <li id="home" class={route === undefined ? 'selected' : ''}>
      <div></div>
      <a class="whitespace-nowrap" href={translatePath('/')}>
        {t('nav.home')}
      </a>
    </li>
    <li id="about" class={route === 'about' ? 'selected' : ''}>
      <div></div>
      <a class="whitespace-nowrap" href={translatePath('/about')}>
        {t('nav.about')}
      </a>
    </li>
    <li id="projects" class={route === 'projects' ? 'selected' : ''}>
      <div></div>
      <a class="whitespace-nowrap" href={translatePath('/projects')}>
        {t('nav.projects')}
      </a>
    </li>
    <!-- <li>
        <a class="whitespace-nowrap" href={translatePath('/blog/')}
          >{t('nav.blog')}</a
        >
      </li> -->
    <li id="contact" class={route === 'contact' ? 'selected' : ''}>
      <div></div>
      <a class="whitespace-nowrap" href={translatePath('/contact')}>
        {t('nav.contact')}
      </a>
    </li>
  </ul>
</nav>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    nav {
      @apply font-extralight text-lg md:text-xl xl:text-2xl;

      & a {
        @apply block h-full w-fit hover:font-bold;
      }

      & div {
        @apply absolute left-0 bg-mintHover [transition:width_300ms_ease-in-out] h-7 xl:h-8 -translate-y-1;
      }
    }
  }

  @layer components {
    li.selected {
      & a {
        @apply font-bold pointer-events-none;
      }

      & div {
        @apply bg-mint w-2 sm:w-3 md:w-4 lg:w-5 xl:w-6 2xl:w-7;
      }
    }

    li:not(.selected) {
      & div {
        @apply w-0;
      }
    }
  }

  @layer utilities {
    li.nav__item--hover {
      & div {
        @apply w-2 sm:w-3 md:w-4 lg:w-5 xl:w-6 2xl:w-7;
      }

      & a {
        @apply font-bold;
      }
    }
    .x-collapse {
      @apply w-0 !important;
    }
  }
</style>

<script>
  const nav = document.getElementById('nav-list');
  const items = nav?.children;
  const selected = document.querySelector('li.selected');

  if (items) {
    for (const i of items) {
      i.children[1].addEventListener('mouseenter', (e) => {
        if (i !== selected) {
          i.classList.toggle('nav__item--hover');
          selected?.children[0].classList.add('x-collapse');
        }
      });
      i.children[1].addEventListener('mouseleave', (e) => {
        if (i !== selected) {
          i.classList.toggle('nav__item--hover');
          selected?.children[0].classList.remove('x-collapse');
        }
      });
    }
  }
</script>
