---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav>
  <ul>
    <li><a href={translatePath('/')}>{t('nav.home')}</a></li>
    <li><a href={translatePath('/about/')}>{t('nav.about')}</a></li>
    <li><a href={translatePath('/projects/')}>{t('nav.projects')}</a></li>
    <li><a href={translatePath('/blog/')}>{t('nav.blog')}</a></li>
    <li><a href={translatePath('/contact/')}>{t('nav.contact')}</a></li>
  </ul>
</nav>
