---
import { Icon } from 'astro-icon/components';

const socialMediaData: { title: string; link: string; icon: string }[] = [
  {
    title: 'github',
    link: 'https://github.com/flohrel',
    icon: 'fa6-brands:github',
  },
  {
    title: 'linkedin',
    link: 'https://www.linkedin.com/in/florian-ohrel-ba6484253/',
    icon: 'fa6-brands:linkedin',
  },
  {
    title: 'mail',
    link: 'mailto:florian.ohrel@pm.me',
    icon: 'material-symbols:mail-outline-rounded',
  },
];

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  id="social-bar"
  class={(className || '') +
    ' p-6 md:p-5 xl:p-8 z-50 last:after:block last:after:relative last:after:h-0 last:after:w-[1.5px] last:after:bg-mint last:after:left-3 last:after:content-[""] last:after:animate-grow'}
>
  {
    socialMediaData.map((item) => (
      <a
        class="w-7 h-7 hover:-translate-y-1 group-[.menu--toggle]/content:[transition:transform_200ms_ease-in-out] [transition:transform_200ms_ease-in-out,color_200ms_ease-in-out]"
        href={item.link}
        aria-label={'Open ' + item.title + ' profile'}
      >
        <Icon name={item.icon} class={'w-7 h-7'} />
      </a>
    ))
  }
</div>
