---
import { Icon } from 'astro-icon/components';

const socialMediaData: { title: string; link: string; icon: string }[] = [
  {
    title: 'github',
    link: 'https://github.com/flohrel',
    icon: 'fa6-brands:github',
  },
  {
    title: 'linkedin',
    link: 'https://www.linkedin.com/in/florian-ohrel-ba6484253/',
    icon: 'fa6-brands:linkedin',
  },
  {
    title: 'mail',
    link: 'mailto:florian.ohrel@pm.me',
    icon: 'material-symbols:mail-outline-rounded',
  },
];

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  id="social-bar"
  class={(className ? className : '') + ' p-4 md:p-6 xl:p-8 z-50'}
>
  {
    socialMediaData.map((item) => (
      <a
        class="w-7 h-7 group-[.sidebar--toggle]/content:hover:!text-mint hover:-translate-y-1 group-[.sidebar--toggle]/content:[transition:transform_200ms_ease-in-out,colors_200ms_ease-in-out] md:[transition:transform_200ms_ease-in-out]"
        href={item.link}
        aria-label={'Open ' + item.title + ' profile'}
      >
        <Icon name={item.icon} class={'w-7 h-7'} />
      </a>
    ))
  }
</div>
<style>
  @tailwind base;
  @layer base {
    #social-bar:last-child::after {
      content: '';
      @apply block relative h-28 w-[1.5px] bg-mintHover left-3;
    }
  }
</style>
