---
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../../i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav
  class="p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14 self-stretch z-50 [transition:transform_400ms_ease-in-out] max-md:-translate-x-40 group-[.sidebar--toggle]/frame-content:max-md:translate-x-0"
>
  <ul id="nav-list">
    <li class={route === undefined ? 'selected' : ''}>
      <div
        class={'nav__selector' +
          (route === undefined ? ' nav__selector--toggle' : '')}
      >
      </div>
      <a class="nav__link" href={translatePath('/')} data-astro-prefetch>
        {t('nav.home')}
      </a>
    </li>
    <li class={route === 'about' ? 'selected' : ''}>
      <div
        class={'nav__selector' +
          (route === 'about' ? ' nav__selector--toggle' : '')}
      >
      </div>
      <a class="nav__link" href={translatePath('/about')} data-astro-prefetch>
        {t('nav.about')}
      </a>
    </li>
    <li class={route === 'projects' ? 'selected' : ''}>
      <div
        class={'nav__selector' +
          (route === 'projects' ? ' nav__selector--toggle' : '')}
      >
      </div>
      <a
        class="nav__link"
        href={translatePath('/projects')}
        data-astro-prefetch
      >
        {t('nav.projects')}
      </a>
    </li>
    <!-- <li>
        <a class="nav__link" href={translatePath('/blog/')}
          >{t('nav.blog')}</a
        >
      </li> -->
    <!-- <li class={route === 'contact' ? 'selected' : ''}>
      <div
        class={'nav__selector' +
          (route === 'contact' ? ' nav__selector--toggle' : '')}
      >
      </div>
      <a class="nav__link" href={translatePath('/contact')}>
        {t('nav.contact')}
      </a>
    </li> -->
  </ul>
</nav>

<style>
  @tailwind components;
  @tailwind utilities;

  @layer components {
    nav {
      @apply font-extralight text-lg md:text-xl xl:text-2xl;

      & a {
        @apply block h-full w-fit hover:font-bold whitespace-nowrap;
      }

      & div {
        @apply absolute left-[1px] bg-mintHover [transition:width_300ms_ease-in-out] h-7 xl:h-8 -translate-y-1;
      }
    }

    li.selected {
      & a {
        @apply font-bold pointer-events-none;
      }

      & div {
        @apply bg-mint w-0;
      }
    }

    li:not(.selected) {
      & div {
        @apply w-0;
      }
    }
  }

  @layer utilities {
    .nav__selector--toggle {
      @apply w-2 sm:w-3 md:w-4 lg:w-5 xl:w-6 2xl:w-7 !important;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const nav = document.getElementById('nav-list');
    const items = nav?.children;
    const selected = document.querySelector('.nav__selector--toggle');

    if (items) {
      for (const i of items) {
        i.children[1].addEventListener('mouseenter', (e) => {
          if (i !== selected) {
            i.children[0].classList.toggle('nav__selector--toggle');
            selected?.classList.remove('nav__selector--toggle');
          }
        });
        i.children[1].addEventListener('mouseleave', (e) => {
          if (i !== selected) {
            i.children[0].classList.toggle('nav__selector--toggle');
            selected?.classList.add('nav__selector--toggle');
          }
        });
      }
    }
  });
</script>
